@model AssignmentNew.Models.Country
<table>
    <tr class="row">
        <td class="col-md-6">
             
            @Html.TextBox("counrtyName","India", new { @class = "form-control" })
        </td>
        <td class="col-md-6">@ViewBag.IndiaTime</td>
    </tr>
</table>
<script>
    
</script>